body {
    margin: 0 auto;
    padding: 0;
}
.container1 {
    width: 100%;
    height: 100vh;
    float: left;
    background: url(../images/558731-joker-wallpaper.jpeg);
    background-size: cover;
    position: relative;
    opacity: 1;
}
.container1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}
.logo img {
    width: 180px;
}
.logo {
    margin-left: 30px;
    position: relative;
    bottom: 40px;
}
.list {
    float: right;
    position: relative;
    bottom: 180px;
    margin-right: 80px;
}
.list ul li {
    display: inline-block;
    color: white;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.sign {
    padding-left: 40px;
}
.name h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-top: 240px;
    letter-spacing: 10px;
    position: relative;
}
.list2 ul li {
    display: inline-block;
    color: white;
    position: relative;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.watch span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    position: relative;
}
.watch {
    margin-left: 50px;
    width: 150px;
    height: 40px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.view {
    margin-left: 50px;
    width: 130px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 170px;
    bottom: 40px;
    cursor: pointer;
    border: .2px solid red;
}
.view span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    position: relative;
}
.add span {
   color: white; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 13px;
   position: relative;
   left: 370px;
   bottom: 72px;
   cursor: pointer;
}
.rating {
    position: relative;
    bottom: 80px;
    cursor: pointer;
    background-color: black;
    width: 150px;
    height: 50px;
    border: .2px solid white;
    float: right;
    margin-right: 40px;
}
.rating span {
    color: white;
    font-size: 11px;
    font-family: Californian FB;
    position: relative;
    left: 5px;
}
.rating img {
    width: 20px;
    padding-top: 5px;
    padding-left: 5px;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: transparent;
    /* float: left; */
}
.namelist ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.namelist ul li:hover {
    text-decoration: 3px underline red;
}
.namelist {
    padding-top: 20px;
}
.iconlist ul li {
    display: inline-block;
    margin-left: 20px;
    color: red;
    cursor: pointer;
}
.iconlist {
    float: right;
    margin-right: 50px;
    position: relative;
    bottom: 50px;
}
.movies {
    width: 100%;
    min-height: 800px;
    background-color: transparent;
}
.box1 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.box1 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box1 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box1 .janr {
    position: relative;
    top: 15px;
    right: 175px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box1 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    bottom: 15px; 
    transform: scale(1); 
}
.box1:hover {
    transform: scale(1.1);
}
.box2 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.box2 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box2 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box2 .janr {
    position: relative;
    top: 15px;
    right: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box2 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    bottom: 15px; 
    transform: scale(1); 
}
.box2:hover {
    transform: scale(1.1);
}
.box3 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.box3 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box3 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box3 .janr {
    position: relative;
    top: 15px;
    right: 130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box3 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    bottom: 15px; 
    transform: scale(1); 
}
.box3:hover {
    transform: scale(1.1);
}
.box4 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    bottom: 25px;
}
.box4 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box4 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box4 .janr {
    position: relative;
    top: 15px;
    right: 105px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box4 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    top: 3px; 
    transform: scale(1); 
}
.box4:hover {
    transform: scale(1.1);
}
.box5 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    bottom: 25px;
}
.box5 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box5 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box5 .janr {
    position: relative;
    top: 15px;
    right: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box5 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    top: 3px; 
    transform: scale(1); 
}
.box5:hover {
    transform: scale(1.1);
}
.box6 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    bottom: 25px;
}
.box6 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box6 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box6 .janr {
    position: relative;
    top: 15px;
    right: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box6 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    top: 3px; 
    transform: scale(1); 
}
.box6:hover {
    transform: scale(1.1);
}
.box7 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    bottom: 25px;
}
.box7 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box7 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box7 .janr {
    position: relative;
    top: 15px;
    right: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box7 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    top: 3px; 
    transform: scale(1); 
}
.box7:hover {
    transform: scale(1.1);
}
.box8 {
    width: 20%;
    height: 350px;
    background-color: white;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    bottom: 25px;
}
.box8 img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}
.box8 .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.box8 .janr {
    position: relative;
    top: 15px;
    right: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: grey;
}
.box8 .imdb{
    float: right;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: red;
    border: .2px solid red;
    padding: 5px 7px;
    position: relative;
    top: 3px; 
    transform: scale(1); 
}
.box8:hover {
    transform: scale(1.1);
}